<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document1</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <main>
        <h1>Doc</h1>
        <hr>
        <h2>Doc2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt error repudiandae nulla sunt officiis consequuntur dolorem, voluptatum quod praesentium dignissimos natus. Ipsum voluptas adipisci libero recusandae. A eaque maxime qui!
        Perspiciatis aperiam quis omnis dolorum architecto voluptatum eius nisi, ratione, tenetur, veniam provident totam nobis! Atque laboriosam obcaecati qui. Adipisci, distinctio deleniti rerum iusto cumque excepturi tempora sunt provident nisi.
        Reiciendis blanditiis molestias est a maiores odit reprehenderit quae praesentium temporibus alias ea quo nemo quibusdam ducimus quas non fuga dolores officia, architecto eius atque. Nemo tenetur exercitationem earum temporibus?</p>
        
    </main>
    
</body>
</html>